<!--login.html-->

{{ template "header.html" . }}

<div class="container">
    {{if .error}}
        <div class="alert alert-danger">{{.error}}</div>
    {{end}}
    <div class="login">
        <form action="" method="post">
            <label for="uname"><b>Username</b></label>
            <input type="text" placeholder="Username" id="uname" name="username">
            <label for="password_1"><b>Password</b></label>
            <input type="password" placeholder="Enter password" id="password" name="password">

            <button style="margin-bottom: 10px;" type="submit" name="loginSubmit">Login</button>
        </form>
    </div>
    <script type="text/javascript">
    </script>
</div>
